*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 1280px;
    margin: 40px auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
    gap: 40px;
}

.nav-link{
    font-family: Barlow;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    text-align: left;
}

.hero{
    position: relative;
    margin-top: 30px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 493px;
    height: 367px;
    position: absolute;
    bottom: 0%;
    left: 5%;
}

.hero-title{
    font-family: Fraunces 9pt;
    font-size: 52px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

.hero-text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

.hero-btn{
    width: 217px;
    height: 56px;
    color: white;
    font-family: Fraunces 9pt;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    background: #0E8784;
}

.dec{
    width: 255px;
    height: 134px;
    text-align: center  ;
}

.card-text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.card-title{
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card-image{
    width: 255px;
    height: 193px;
}

.card-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 190px;
}

.inf{
    background-image: url('./image/Bitmap.png');
    text-align: center;
    
}

.inf{
    height: 577px;
    padding: 80px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    gap: 80px;
}

.wrapper{
    position: absolute;
    bottom: -120px;
    margin-left: 30px;
}

.choose{
    position: relative;
}

.inf-title{
    font-family: Fraunces 9pt;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
}

.inf-text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    width: 540px;
    display: flex;
    margin-left: 24%;
}


.card1{
    text-align: center;
    width: 300px;
    height: 382px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #0E8784;
}

.card1-text{
    width: 255px;
    margin-left: 30px;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
}

.card1-title{
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
}

.card1-img{
    width: 71px;
    height: 72px;
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-top: 20%;
}

.up{
    margin-top: 40px;
}

.card2{
    width: 285px;
    height: 355px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card2-img{
    width: 90px;
    height: 72px;
}

.sec{
    margin-top: 250px;
}

.wrapper1{
    width: 1100px;
    height: 565px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.hero-btn{
    margin-top: 10px;
}

.card2-title{
    font-family: Fraunces 9pt;
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}


.card2-text{
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.how{
    font-family: Fraunces 9pt;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

}

.nav-bar1{
    display: flex;
    justify-content: space-between;
    width: 800px;
    align-items: center;
    padding: 30px 80px;
}


.nav{
    background: #2C343E;
    height: 100px;
}

.nav1-link{
    font-family: Barlow;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    text-align: left;
    color: white;
}

